<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-12 grid-margin stretch-card">


                <div class="card">
                  <div class="card-body">
                       <form action="{% url 'Update_product' dataid=pro.id %}" method="post" enctype="multipart/form-data">
     {% csrf_token %}
                    <h4 class="card-title" align="center">Add Products</h4>
<!--                    <p class="card-description">Basic form elements</p>-->

                         <div class="form-group">
                        <label for="exampleSelectGender">Category Name</label>
                        <select class="form-control" id="exampleSelectGender" name="cname">
                            <option>select Category</option>
                            {% for i in cat %}


                          <option>{{i.Name}}</option>
                            {% endfor %}
                        </select>
                      </div>

                              <div class="form-group">
                                  <label for="usr">Product Name</label>
                                   <input type="text" class="form-control" name="pname" value="{{pro.Product}}">
                                      </div>
                            <div class="form-group">
                                  <label for="usr">Price</label>
                                   <input type="text" class="form-control" name="price" value="{{pro.Price}}">
                                      </div>
                             <div class="form-group">
                                  <label for="usr">Brand Name</label>
                                   <input type="text" class="form-control" name="brand" value="{{pro.Brand}}">
                                      </div>
                       <div class="form-group">
                        <label for="exampleTextarea1">Description</label>
                        <textarea class="form-control" id="exampleTextarea1" rows="4" name="descr">{{pro.Description}}</textarea>
                      </div>
<!--                      <div class="form-group">-->
<!--                        <label for="exampleInputEmail3">Email address</label>-->
<!--                        <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">-->
<!--                      </div>-->
<!--                      <div class="form-group">-->
<!--                        <label for="exampleInputPassword4">Password</label>-->
<!--                        <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Password">-->
<!--                      </div>-->
<!--                      <div class="form-group">-->
<!--                        <label for="exampleSelectGender">Gender</label>-->
<!--                        <select class="form-control" id="exampleSelectGender">-->
<!--                          <option>Male</option>-->
<!--                          <option>Female</option>-->
<!--                        </select>-->
<!--                      </div>-->
                      <div class="form-group">
                        <label>File upload</label>
                        <input type="file" name="image">
                          <img src="{{pro.Image.url}}" width="50px" height="50px">
<!--                        <input type="file" name="img[]" class="file-upload-default">-->
<!--                        <div class="input-group col-xs-12">-->
<!--                          <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Image">-->
<!--                          <span class="input-group-append">-->
<!--                            <button class="file-upload-browse btn btn-primary" type="button"> Upload </button>-->
<!--                          </span>-->
                        </div>
                      </div>

                       <button type="submit" class="btn btn-primary mr-2"> Submit </button>
                     <button class="btn btn-light">Cancel</button>
                  </div>
                </div>

 </form>
</body>
</html>
{% endblock %}